body
{
    margin: 0;
    padding: 0;
    background: url("../Imagenes/FondoRegistro.jpg") no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;

}

.base
{
    width: 420px;
    height: 520px;
    background:#222140;
    border: 1px solid whitesmoke;
    color: white;
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 10px;


}

.imagen{


    width: 110px;
    height: 110px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.base h1{

    margin: 0;
    padding: 0 0 20px;
   text-align: center;
   font-size: 22px;
}
.base label
{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;

}
.base input{

    width: 100%;
    margin-bottom: 20px;
}


.base input[type="text"],
input[type="password"]
{
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;

}

.base input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #1F6366;
    color: white;
    font-size: 20px;
    border-radius: 20px;

}

.base a{

    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: gray;

}

.base a:hover
{
    color:white;
}