.borde
{
    margin: auto;
    width: 95%;
    height: 1600px;
    background-color: gray;
    border: 1px solid black;

}

.barra
{

    margin: auto;
    width: 100%;
    height: 100px;
    background-color: white;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}

.item{
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    width: 155px;
    height: 20%;
    background-color: black;
    color:white;
    margin:1cm;
}

.noticiasDestacadas
{

    text-align: center;
    font-size: medium;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    width: 80%;
    height: 400px;
    background-color: black;
   
    color: white;
}

.Noticia
{ text-align: center;
    padding: 30px;
    margin: auto;
    margin-top: 10px;
    width: 90%;
    height: 500px;
    background-color: black;
   
    color: white;


}
.Comentarios
{
    text-align: center;
    padding: 30px;
    margin:auto;
    margin-top: 10px;
    width: 90%;
    height: 200px;
    background-color: black;
    color: white;

}

.Pie
{
    margin: auto;
    margin-top: 47px;
    width: 100%;
    height: 100px;
    background-color: white;
    border: 1px solid black;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  
}


.items
{
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    width: 155px;
    height: 20%;
    background-color: black;
    color:white;
    margin:1cm;



}
